<div class="jumbotron">
    <h4 class="display-3">App Note v2.0</h4>

    <p class="lead">Lorem ipsum dolor sit amet.</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vitae, animi laboriosam facere quisquam nam corrupti quibusdam illo? Nulla consequatur perferendis, non veniam blanditiis qui aspernatur quisquam recusandae sequi, quos pariatur a?</p>
<a href="/notes" title="notas" class="btn btn-primary"><i class="material-icons">note</i></a>
</div>