<div class="row">
    <div class="col-ms-4 m-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Task</h4>
                <form action="/notes/edit-note/{{note._id}}" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="title" value="{{note.title}}" placeholder="title" id="">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="task" placeholder="task" id="">{{note.task}}</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit"><i class="material-icons">send</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>